{% extends 'base.html.twig' %}

{% block title %}Hello AtelierController!{% endblock %}

{% block body %}
<section class="page_breadcrumbs template_breadcrumbs ds parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li>
                        <a href="./">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">About</li>
                </ol>
                <h1>About</h1>
            </div>
        </div>
    </div>
</section>

<section class="ds section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-push-5">
                <img src="./images/about.jpg" alt="">
            </div>
            <div class="col-md-5 col-md-pull-7">
                <h2 class="section_header">About us</h2>
                <hr class="divider_2_50 main_bg_color topmargin_15 bottommargin_30">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus viverra nulla ut tempus. Nullam ut velit orci. Duis quis lacus lorem. Nullam eget rhoncus massa, nec laoreet lorem.
                </p>
                <div class="topmargin_60">
                    <div class="media teaser inline-block text-left to_animate animated pullDown" data-animation="pullDown">
                        <div class="media-left">
                            <div class="teaser_icon main_bg_color">
                                <i class="fa fa-line-chart"></i>
                            </div>
                        </div>
                        <div class="media-body toppadding_10">
                            <h4 class="bottommargin_20 text-uppercase">25 years reputation</h4>
                            <p>
                                Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. Vivamus euismod pharetra dolor vel tempus.
                            </p>
                        </div>
                    </div>
                    <div class="media teaser inline-block text-left to_animate animated pullDown" data-animation="pullDown">
                        <div class="media-left">
                            <div class="teaser_icon main_bg_color">
                                <i class="fa fa-cogs"></i>
                            </div>
                        </div>
                        <div class="media-body toppadding_10">
                            <h4 class="bottommargin_20 text-uppercase">Full integrity</h4>
                            <p>
                                Proin vulputate egestas leo sit amet tincidunt. Sed pulvinar ullamcorper nibh. Cum sociis natoque penatibus et magnis dis.
                            </p>
                        </div>
                    </div>
                    <div class="media teaser inline-block text-left to_animate animated pullDown" data-animation="pullDown">
                        <div class="media-left">
                            <div class="teaser_icon main_bg_color">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                        <div class="media-body toppadding_10">
                            <h4 class="bottommargin_20 text-uppercase">quick &amp; efficient</h4>
                            <p>
                                Etiam pellentesque pretium eros, nec pulvinar purus efficitur a. Sed accumsan tempor odio, pretium vehicula turpis egestas in.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ds ms section_padding_75 counters_section parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="teaser text-center">
                    <div class="teaser_icon size_big">
                        <i class="flaticon-avatar highlight"></i>
                    </div>
                    <span class="counter grey" data-from="0" data-to="124" data-speed="1500">0</span>
                    <hr class="divider_2_30 main_bg_color center topmargin_10">
                    <h5 class="text-uppercase fontsize_16">Clients</h5>
                </div>
                <div class="teaser text-center">
                    <div class="teaser_icon size_big">
                        <i class="flaticon-clock highlight"></i>
                    </div>
                    <span class="counter grey" data-from="0" data-to="9521" data-speed="1500">0</span>
                    <hr class="divider_2_30 main_bg_color center topmargin_10">
                    <h5 class="text-uppercase fontsize_16">Hours work</h5>
                </div>
                <div class="teaser text-center">
                    <div class="teaser_icon size_big">
                        <i class="flaticon-cup highlight"></i>
                    </div>
                    <span class="counter grey" data-from="0" data-to="527" data-speed="1500">0</span>
                    <hr class="divider_2_30 main_bg_color center topmargin_10">
                    <h5 class="text-uppercase fontsize_16">Coffe cups</h5>
                </div>
                <div class="teaser text-center">
                    <div class="teaser_icon size_big">
                        <i class="flaticon-placeholder highlight"></i>
                    </div>
                    <span class="counter grey" data-from="0" data-to="577" data-speed="1500">0</span>
                    <hr class="divider_2_30 main_bg_color center topmargin_10">
                    <h5 class="text-uppercase fontsize_16">Total projects</h5>
                </div>
                <div class="teaser text-center">
                    <div class="teaser_icon size_big">
                        <i class="flaticon-glasses highlight"></i>
                    </div>
                    <span class="counter grey" data-from="0" data-to="781" data-speed="1500">0</span>
                    <hr class="divider_2_30 main_bg_color center topmargin_10">
                    <h5 class="text-uppercase fontsize_16">Support</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ds ms section_padding_top_100 section_padding_bottom_75 columns_margin_bottom_40">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header">Company overview</h2>
                <hr class="divider_2_50 center main_bg_color topmargin_10">
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-6 text-center">
                <div class="teaser">
                    <div class="teaser_icon size_big2">
                        <i class="flaticon-share bold highlight"></i>
                    </div>
                    <h4>
                        <a href="audio-service.html">Car audio service</a>
                    </h4>
                    <p>
                        In nec venenatis libero. Integer volutpat laoreet orci et semper. Etiam vel gravida velit. Pellentesque dui nisi, fringilla quis imperdiet vel, facilisis vitae augue.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="teaser">
                    <div class="teaser_icon size_big2">
                        <i class="flaticon-printer highlight"></i>
                    </div>
                    <h4>
                        <a href="audio-service.html">Repair / maintenance</a>
                    </h4>
                    <p>
                        Praesent vitae rhoncus nibh. Phasellus cursus rutrum ante id tincidunt. Suspendisse metus mi, maximus eget egestas et, tincidunt sit amet magna.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="teaser">
                    <div class="teaser_icon size_big2">
                        <i class="flaticon-cup-1 highlight"></i>
                    </div>
                    <h4>
                        <a href="audio-service.html">Rebuilders</a>
                    </h4>
                    <p>
                        Nullam id laoreet risus, vel iaculis metus. Donec porttitor velit eu ipsum maximus, eget ultrices velit dapibus. Praesent molestie eros sed ipsum bibendum.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="teaser">
                    <div class="teaser_icon size_big2">
                        <i class="flaticon-oil highlight"></i>
                    </div>
                    <h4>
                        <a href="audio-service.html">Oil changes</a>
                    </h4>
                    <p>
                        Morbi id sem sit amet libero cursus ultricies. Sed pretium pulvinar lectus sit amet sodales. Pellentesque eu nisi bibendum, tempor justo a, faucibus neque.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="teaser">
                    <div class="teaser_icon size_big2">
                        <i class="flaticon-battery highlight"></i>
                    </div>
                    <h4>
                        <a href="audio-service.html">Car battery repairs</a>
                    </h4>
                    <p>
                        Nulla porta imperdiet malesuada. Phasellus sit amet molestie nibh. Vestibulum bibendum sapien sed neque varius, id condimentum erat finibus.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="teaser">
                    <div class="teaser_icon size_big2">
                        <i class="flaticon-racing-game highlight"></i>
                    </div>
                    <h4>
                        <a href="audio-service.html">Cars upgraids</a>
                    </h4>
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam vel sagittis tellus. Nullam vel eros eu eros dignissim auctor ac et mi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
