{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
     <section class="video">
        <video width="100%" autoplay loop playsinline="" muted="" >
            <source src="{{asset('images/carros.mp4')}}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </section>
    <section class="ds section_padding_110">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center">
                    <div class="block-style1 text-right bottommargin_10">
                        <div class="theme_background">
                            <h2 class="section_header bottommargin_5">
                                <span class="regular">Une réparation
                                    </span>
                                <br>
                                <span class="medium">de carrosserie à effectuer ?</span>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, mi sed fermentum pulvinar, enim tortor dictum.
                            </p>
                        </div>
                    </div>
                    <img src="./images/car.png" alt="">
                </div>
                <div class="col-md-5">
                    <div class="topmargin_40">
                        <div class="media teaser inline-block text-left to_animate animated pullDown" data-animation="pullDown">
                            <div class="media-left">
                                <div class="teaser_icon main_bg_color">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                            </div>
                            <div class="media-body toppadding_10">
                                <h4 class="bottommargin_20 text-uppercase">10 ANS DE RÉPUTATION</h4>
                                <p>
                                    Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. Vivamus euismod pharetra dolor vel tempus.
                                </p>
                            </div>
                        </div>
                        <div class="media teaser inline-block text-left to_animate animated pullDown" data-animation="pullDown">
                            <div class="media-left">
                                <div class="teaser_icon main_bg_color">
                                    <i class="fa fa-cogs"></i>
                                </div>
                            </div>
                            <div class="media-body toppadding_10">
                                <h4 class="bottommargin_20 text-uppercase">Intégrité totale</h4>
                                <p>
                                    Proin vulputate egestas leo sit amet tincidunt. Sed pulvinar ullamcorper nibh. Cum sociis natoque penatibus et magnis dis.
                                </p>
                            </div>
                        </div>
                        <div class="media teaser inline-block text-left to_animate animated pullDown" data-animation="pullDown">
                            <div class="media-left">
                                <div class="teaser_icon main_bg_color">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <div class="media-body toppadding_10">
                                <h4 class="bottommargin_20 text-uppercase">rapide &amp; efficace</h4>
                                <p>
                                    Etiam pellentesque pretium eros, nec pulvinar purus efficitur a. Sed accumsan tempor odio, pretium vehicula turpis egestas in.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ds section_padding_110">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center">
                    <div class="block-style1 text-right bottommargin_10">
                        <div class="theme_background">
                            <h2 class="section_header bottommargin_5">
                                <span class="regular">Une réparation
                                    </span>
                                <br>
                                <span class="medium">de carrosserie à effectuer ?</span>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, mi sed fermentum pulvinar, enim tortor dictum.
                            </p>
                        </div>
                    </div>
                    <img src="./images/car.png" alt="">
                </div>
                <div class="col-md-5">
                    <div class="topmargin_40">
                        <div class="media teaser inline-block text-left to_animate" data-animation="pullDown">
                            <div class="media-left">
                                <div class="teaser_icon main_bg_color">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                            </div>
                            <div class="media-body toppadding_10">
                                <h4 class="bottommargin_20 text-uppercase">10 ANS DE RÉPUTATION</h4>
                                <p>
                                    Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. Vivamus euismod pharetra dolor vel tempus.
                                </p>
                            </div>
                        </div>
                        <div class="media teaser inline-block text-left to_animate" data-animation="pullDown">
                            <div class="media-left">
                                <div class="teaser_icon main_bg_color">
                                    <i class="fa fa-cogs"></i>
                                </div>
                            </div>
                            <div class="media-body toppadding_10">
                                <h4 class="bottommargin_20 text-uppercase">Intégrité totale</h4>
                                <p>
                                    Proin vulputate egestas leo sit amet tincidunt. Sed pulvinar ullamcorper nibh. Cum sociis natoque penatibus et magnis dis.
                                </p>
                            </div>
                        </div>
                        <div class="media teaser inline-block text-left to_animate" data-animation="pullDown">
                            <div class="media-left">
                                <div class="teaser_icon main_bg_color">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <div class="media-body toppadding_10">
                                <h4 class="bottommargin_20 text-uppercase">rapide &amp; efficace</h4>
                                <p>
                                    Etiam pellentesque pretium eros, nec pulvinar purus efficitur a. Sed accumsan tempor odio, pretium vehicula turpis egestas in.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ds ms section_padding_top_100 section_padding_bottom_75 page_testimonials parallax" style="background-position: 50% 2px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="./images/wings.png" alt="" class="light-logo">
                    <img src="./images/wings-dark.png" alt="" class="dark-logo">
                    <h2 class="section_header topmargin_10">TÉMOIGNAGES</h2>

                    <div class="owl-carousel testimonials-carousel topmargin_60 bottommargin_0 owl-loaded owl-drag owl-theme" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="1">
                        

                        

                        

                        

                        

                        

                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2340px;"><div class="owl-item active" style="width: 360px; margin-right: 30px;"><blockquote class="blockquote-item margin_0">
                            Expérience très satisfaisante. J’ai été prise en charge rapidement, intérêt réel d’Ignes (co-patron) pour ma voiture, qui a pris du temps pour bien observer ce qui n’allait pas et m’expliquer ce qu’il allait faire. Délai très court de travail et mise
                            à disposition optionnelle d’un véhicule. En somme efficace, je recommande.
                            <div class="item-meta">
                                <h5>
                                    Chloée Magna
                                </h5>

                            </div>
                        </blockquote></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><blockquote class="blockquote-item margin_0">
                            Un grand merci à l’équipe. Dans une situation plus que pâteuse, ils ont su me rassurer, me prendre la voiture en charge rapidement et ont été arrangeant. Les tarifs sont compétitifs et le travail d’une minutie rare, merci à « l’artiste ». Je ne peux que
                            recommander ce carrossier et si jamais j’ai un pépin je sais chez qui aller.
                            <div class="item-meta">
                                <h5>
                                    MAHAUT DOISE
                                </h5>

                            </div>
                        </blockquote></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><blockquote class="blockquote-item margin_0">
                            Super expérience chez MJ Carosserie! Ma voiture est comme neuve, une peinture au top Ils ont même réussi à me faire réparer des problèmes moteurs que je rencontrais grâce à leur contact Encore merci pour votre rapidité et professionnalisme
                            <div class="item-meta">
                                <h5>
                                    Zachary Fernandez
                                </h5>

                            </div>
                        </blockquote></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><blockquote class="blockquote-item margin_0">
                            Je suis venu grâce à un contact qui a été très satisfait de leur gentillesse et professionnalisme, j’y suis donc allée et je recommande sans hésitation!! Peugeot 208 refaite à neuve merci beaucoup. Le gérant est super accueillant et a répondu à toute
                            nos attentes,merci
                            <div class="item-meta">
                                <h5>
                                    Ines Benssaad
                                </h5>

                            </div>
                        </blockquote></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><blockquote class="blockquote-item margin_0">
                            Carrossiers très professionnelle, perfectionniste, ils ont su être attentifs a mes nombreuses demandes, mon BMW X1 est sorti de la carrosserie comme neuve encore merci a eux.
                            <div class="item-meta">
                                <h5>
                                    julien torres
                                </h5>

                            </div>
                        </blockquote></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><blockquote class="blockquote-item margin_0">
                            Carrossier très pro, je recommande vivement MJ carrosserie, ma voiture est magnifique ! Accueil et communication au top, Merci !!!!!
                            <div class="item-meta">
                                <h5>
                                    Brigitte BOTTI
                                </h5>

                            </div>
                        </blockquote></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </section>

    <section class="ds section_padding_110 table_section table_section_md">
        <div class="container">
            <div class="row bottommargin_60">
                <div class="col-sm-12 text-center">
                    <img src="./images/wings.png" alt="" class="light-logo">
                    <img src="./images/wings-dark.png" alt="" class="dark-logo">
                    <h2 class="section_header topmargin_10">our popular video</h2>
                </div>
            </div>
            <div class="row vertical-tabs video-tabs columns_margin_bottom_30">
                <div class="col-md-4">
                    <ul class="nav" role="tablist">
                        <li class="active to_animate animated stretchRight" data-animation="stretchRight">
                            <div class="vertical-item with_background with_padding with_border bottommargin_30">
                                <div class="item-content">
                                    <div class="item-meta greylinks">
                                        <span class="item-date">2 days ago</span> /
                                        <a href="blog-single-video-right.html#comments">15 comments</a> /
                                        <span class="item-likes">27 likes</span>
                                    </div>
                                    <h4 class="entry-title regular">
                                        <a href="blog-single-video-right.html">Sed gravida nisi et risus scelerisque, eu tristique.</a>
                                    </h4>
                                </div>
                                <div class="media-links">
                                    <a href="#video-tab1" role="tab" data-toggle="tab" class="abs-link"></a>
                                </div>
                            </div>
                        </li>
                        <li class="to_animate animated stretchRight" data-animation="stretchRight">
                            <div class="vertical-item with_background with_padding with_border bottommargin_30">
                                <div class="item-content">
                                    <div class="item-meta greylinks">
                                        <span class="item-date">3 days ago</span> /
                                        <a href="blog-single-video-right.html#comments">11 comments</a> /
                                        <span class="item-likes">20 likes</span>
                                    </div>
                                    <h4 class="entry-title regular">
                                        <a href="blog-single-video-right.html">Nulla ut nibh nisl. Maecenas dictum urna ut sagittis.</a>
                                    </h4>
                                </div>
                                <div class="media-links">
                                    <a href="#video-tab2" role="tab" data-toggle="tab" class="abs-link"></a>
                                </div>
                            </div>
                        </li>
                        <li class="to_animate" data-animation="stretchRight">
                            <div class="vertical-item with_background with_padding with_border">
                                <div class="item-content">
                                    <div class="item-meta greylinks">
                                        <span class="item-date">4 days ago</span> /
                                        <a href="blog-single-video-right.html#comments">22 comments</a> /
                                        <span class="item-likes">31 likes</span>
                                    </div>
                                    <h4 class="entry-title regular">
                                        <a href="blog-single-video-right.html">Vestibulum eu consequat quam. Nunc eget orci metus.</a>
                                    </h4>
                                </div>
                                <div class="media-links">
                                    <a href="#video-tab3" role="tab" data-toggle="tab" class="abs-link"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content no-border">
                        <div class="tab-pane fade active in" id="video-tab1">
                            <div class="embed-responsive embed-responsive-3by2 popupVid">

                                <img src="images/video1.jpg" alt="">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ds columns_padding_0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section_header bottommargin_80">Nos œuvres en vedette</h2>
                    <div class="filters isotope_filters">
                        <a href="#" data-filter="*" class="selected">All work</a>
                        <a href="#" data-filter=".repair">Réparation</a>
                        <a href="#" data-filter=".mopar">Peinture</a>
                        <a href="#" data-filter=".import">carrosserie</a>
                        <a href="#" data-filter=".ford">mécanique</a>
                        <a href="#" data-filter=".gm">Gm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid columns_margin_0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="isotope_container isotope row masonry-layout" data-filters=".isotope_filters">

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 repair">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/05.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/05.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 mopar">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/06.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/02.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 import">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/13.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/03.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 ford">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/15.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/04.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 gm">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/17.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/05.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 repair">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/15.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/06.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 mopar">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/07.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/07.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="isotope-item col-lg-3 col-md-4 col-sm-6 import">
                            <div class="vertical-item gallery-item content-absolute vertical-center text-center cs">
                                <div class="item-media">
                                    <img src="images/gallery/08.jpg" alt="">
                                    <div class="media-links">
                                    </div>
                                </div>
                                <div class="item-content display_table">
                                    <div class="display_table_cell">
                                        <div class="links-wrap greylinks">
                                            <a href="#" class="like-link">
                                                <i class="flaticon-heart"></i>
                                            </a>
                                            <a class="p-link" title="" href="gallery-single.html">
                                                <i class="flaticon-link"></i>
                                            </a>
                                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="images/gallery/08.jpg">
                                                <i class="flaticon-glasses"></i>
                                            </a>
                                        </div>
                                        <h3 class="text-uppercase">
                                            <a href="gallery-single.html">Nulla finibus sed justo</a>
                                        </h3>
                                        <span class="categories-links greylinks">
                                            <a rel="category" href="gallery-fullwidth-4-cols.html">Category 1</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- eof .isotope_container.row -->
                </div>
            </div>
        </div>
    </section>

    <section class="ds section_padding_top_100 section_padding_bottom_90 columns_padding_0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="./images/wings.png" alt="">
                    <h2 class="section_header bottommargin_50">Nos atouts </h2>
                </div>
            </div>
            <div class="row columns_margin_bottom_30">
                <div class="col-md-3">
                    <article class="vertical-item content-padding content-overlapping">
                        <div class="item-media">
                            <img src="./images/blog/blog_post1.jpg" alt="">
                        </div>

                    </article>
                </div>
                <div class="col-md-3">
                    <article class="vertical-item content-padding content-overlapping">
                        <div class="item-media">
                            <img src="./images/blog/blog_post2.jpg" alt="">
                        </div>

                    </article>
                </div>
                <div class="col-md-3">
                    <article class="vertical-item content-padding content-overlapping">
                        <div class="item-media">
                            <img src="./images/blog/blog_post3.jpg" alt="">
                        </div>


                    </article>
                </div>
                <div class="col-md-3">
                    <article class="vertical-item content-padding content-overlapping">
                        <div class="item-media">
                            <img src="./images/blog/blog_post3.jpg" alt="">
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="ds ms columns_margin_0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel partners-carousel margin_0 owl-loaded owl-drag owl-theme" data-responsive-lg="6" data-responsive-md="5" data-responsive-sm="3" data-responsive-xs="2" data-margin="0">
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1490px;"><div class="owl-item active" style="width: 248.167px;"><div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/01.png" alt="" class="light-partner">
                                <img src="./images/partners/01-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 248.167px;"><div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/02.png" alt="" class="light-partner">
                                <img src="./images/partners/02-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 248.167px;"><div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/03.png" alt="" class="light-partner">
                                <img src="./images/partners/03-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 248.167px;"><div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/04.png" alt="" class="light-partner">
                                <img src="./images/partners/04-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 248.167px;"><div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/05.png" alt="" class="light-partner">
                                <img src="./images/partners/05-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 248.167px;"><div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/06.png" alt="" class="light-partner">
                                <img src="./images/partners/06-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </section>

    <section class="ds ms columns_margin_0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel partners-carousel margin_0" data-responsive-lg="6" data-responsive-md="5" data-responsive-sm="3" data-responsive-xs="2" data-margin="0">
                        <div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/01.png" alt="" class="light-partner">
                                <img src="./images/partners/01-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/02.png" alt="" class="light-partner">
                                <img src="./images/partners/02-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/03.png" alt="" class="light-partner">
                                <img src="./images/partners/03-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/04.png" alt="" class="light-partner">
                                <img src="./images/partners/04-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/05.png" alt="" class="light-partner">
                                <img src="./images/partners/05-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-item">
                            <div class="item-media">
                                <img src="./images/partners/06.png" alt="" class="light-partner">
                                <img src="./images/partners/06-dark.png" alt="" class="dark-partner">
                                <div class="media-links">
                                    <a href="#" class="abs-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ds section_padding_top_110 columns_margin_bottom_30 section_padding_bottom_65">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-uppercase medium">Our mission</h3>
                    <hr class="divider_2_50 main_bg_color topmargin_15 bottommargin_30">
                    <p>
                        Quisque consectetur erat at rutrum sodales. Aenean est augue, convallis vitae eleifend in, elementum at velit. Mauris eu facilisis nisi. Cras suscipit in risus ac gravida. Pellentesque ante lectus, facilisis et elit eu, egestas mollis ante. Donec commodo
                        ipsum sed elit gravida, non iaculis arcu ornare. Suspendisse eget eleifend nunc, at facilisis.
                    </p>
                    <p>
                        Praesent maximus lorem et nisl pulvinar, vel tempus quam pulvinar. Cras nisl lacus, vulputate eu magna nec, fringilla finibus felis. Nulla sem turpis, elementum sed interdum non, cursus condimentum nisl. Vestibulum vitae tellus velit. Vestibulum ante
                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Nulla fermentum purus vel enim pharetra, in suscipit ex ullamcorper. Nunc accumsan purus augue sit amet.
                    </p>
                    <a href="#" class="theme_button small_button topmargin_20">Read more</a>
                </div>
                <div class="col-md-6">
                    <h3 class="text-uppercase medium">Popular questions</h3>
                    <hr class="divider_2_50 main_bg_color topmargin_15 bottommargin_30">

                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                                        <i class="fa fa-question-circle-o highlight"></i> Lorem Ipsum
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Pellentesque augue ipsum, tincidunt vitae tellus volutpat, eleifend pharetra erat. Donec non dignissim quam. Maecenas leo odio, tempor sed ultricies nec, egestas ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Donec maximus, elit quis maximus sagittis.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2" class="collapsed">
                                        <i class="fa fa-question-circle-o highlight"></i> Dolor Sit Amet
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Pellentesque augue ipsum, tincidunt vitae tellus volutpat, eleifend pharetra erat. Donec non dignissim quam. Maecenas leo odio, tempor sed ultricies nec, egestas ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Donec maximus, elit quis maximus sagittis.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse3" class="collapsed">
                                        <i class="fa fa-question-circle-o highlight"></i> Corporis Iste
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Pellentesque augue ipsum, tincidunt vitae tellus volutpat, eleifend pharetra erat. Donec non dignissim quam. Maecenas leo odio, tempor sed ultricies nec, egestas ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Donec maximus, elit quis maximus sagittis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
