{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<section class="page_breadcrumbs template_breadcrumbs ds parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li>
                        <a href="./">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
                <h1>Services</h1>
            </div>
        </div>
    </div>
</section>

<section class="ds section_padding_top_110 section_padding_bottom_50 columns_margin_bottom_60">
    <div class="container">
        <div class="row isotope_container isotope masonry-layout">
            <div class="isotope-item col-md-4 col-sm-6">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="./images/gallery/02.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title bottommargin_15">
                            <a href="audio-service.html">Car audio service</a>
                        </h4>
                        <p>
                            Cow short loin sausage ball tip venison hamburger, capicola chicken. Salami sirloin jerky, prosciutto ribeye boudin meatloaf meatball turducken rump short shank andouille. Sausage alcatra sirloin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="isotope-item col-md-4 col-sm-6">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="./images/gallery/17.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title bottommargin_15">
                            <a href="audio-service.html">Repairs / Maintenance</a>
                        </h4>
                        <p>
                            Biltong alcatra ribeye jerky, leberkas hamburger cow pork belly tenderloin meatball shank shoulder pig ribs pork loin. Chuck beef rump, prosciutto porchetta bacon ball tip andouille.
                        </p>
                    </div>
                </div>
            </div>
            <div class="isotope-item col-md-4 col-sm-6">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="./images/gallery/08.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title bottommargin_15">
                            <a href="audio-service.html">Rebuilders</a>
                        </h4>
                        <p>
                            Capicola tenderloin picanha jowl pig, bacon turkey cow ham leberkas. Short loin jowl turkey capicola spare ribs beef ribs. Pork chop boudin short ribs tri-tip porchetta, picanha tail.
                        </p>
                    </div>
                </div>
            </div>
            <div class="isotope-item col-md-4 col-sm-6">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="./images/gallery/18.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title bottommargin_15">
                            <a href="audio-service.html">Oil changes</a>
                        </h4>
                        <p>
                            Turkey shoulder tenderloin brisket landjaeger pig beef ribs meatloaf kevin pork chop ribeye andouille pastrami leberkas. Bacon sausage biltong shankle t-bone prosciutto landjaeger rump ball tip.
                        </p>
                    </div>
                </div>
            </div>
            <div class="isotope-item col-md-4 col-sm-6">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="./images/gallery/19.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title bottommargin_15">
                            <a href="audio-service.html">Car battery repairs</a>
                        </h4>
                        <p>
                            Salami shank prosciutto shoulder corned beef meat ball swine boudin leberkas filet mignon. Ham hock salami tail kielbasa sausage spare ribs beef ribs strip steak filet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="isotope-item col-md-4 col-sm-6">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="./images/gallery/12.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title bottommargin_15">
                            <a href="audio-service.html">Cars upgrades</a>
                        </h4>
                        <p>
                            Kielbasa cupim rump short ribs sirloin. Brisket sausage ham kevin venison. Strip steak turkey tri-tip pork chop ball tip cow doner meatloaf pork pig alcatra corned beef fatback pancetta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
