<div class="page_header_wrapper template_header_wrapper affix-wrapper" style="height: 122px;">
    <header class="page_header header_darkgrey ms template_header transparent_header table_section table_section_md left_menu_toggle affix">
        <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
            <!-- main nav start -->
            <nav class="mainmenu_wrapper">
                <ul class="mainmenu nav sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                    <li class="active">
                        <a href="/">
                        <img src="images/logo.png" alt="Logo du garage de mécanique" style="width: 80px;">
                        </a>
                    </li>
                    <li>
                        <a href="about.html" class="sf-with-ul">Notre atelier</a>
                    </li>
                    <li>
                        <a href="services.html" class="sf-with-ul">Nos Services</a>
                    </li>
                    <!-- eof services -->
                    <!-- gallery -->
                    <li class="">
                        <a href="gallery-regular.html" class="sf-with-ul">Gallery</a>
                    <li class="">
                        <a href="blog-right.html" class="sf-with-ul">Contact</a>
                    </li>
                    <!-- eof blog -->
                </ul>
            </nav>
            <!-- eof main nav -->
            </div>
            <div class="col-lg-3 col-mg-4 text-right line-height-0">
                <span class="toggle_menu">
                    <span></span>
                </span>
                <div class="media teaser thin-teaser inline-block text-left">
                    <div class="media-left media-middle size_small">
                        <i style="color:white !important;" class="flaticon-technology highlight"></i>
                    </div>
                    <div class="topbar-col">
                        <a style="color:white !important;margin-left: 27px;"  href="tel:+33 7 66 62 60 89">+33 7 66 62 60 89</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
</div> 